Source: resizer-plugin-unity
Section: graphics
Priority: optional
Maintainer: Léo Baudouin <baudouin.leo@gmail.com>
Build-Depends: build-essential, libqt4-dev, qt4-qmake, libunity-dev
Standards-Version: 3.9.3
Homepage: http://lbaudouin.fr/

Package: resizer-plugin-unity
Architecture: any
Depends: libqtcore4,libqtgui4,libunity9,resizer
Description: Plugin for unity integration with resizer software
