Source: resizer
Section: graphics
Priority: optional
Maintainer: Léo Baudouin <baudouin.leo@gmail.com>
Build-Depends: build-essential, libqt4-dev, qt4-qmake
Standards-Version: 3.9.3
Homepage: http://lbaudouin.fr/

Package: resizer
Architecture: any
Depends: libqtcore4,libqtgui4
Suggests: resizer-plugin-unity
Description: Resize images
